@page "/family"

@inject IFamilyService FamilyService
@inject IFamilyAPIService FamilyAPIService
@inject IPetService PetService
@inject IBirthState BirthState
@inject ILogger<FetchData> logger

@if (personList != null)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>DOB</th>
                <th>City</th>
                <th>State</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in personList)
            {
                <tr>
                    <td>@person.FirstName.Trim() @person.LastName.Trim()</td>
                    <td>@person.Age</td>
                    <td>@person.DateOfBirth.ToString("MM-dd-yyyy")</td>
                    <td>@person.City</td>
                    <td>@BirthState.GetBirthState(person)</td>
                    <td>
                        <button type="button" class="btn btn-primary" @onclick="(() => ShowEditPersonForm(person))">Edit</button>
                        <button type="button" class="btn btn-primary" @onclick="(() => ShowDeletePersonForm(person))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-primary" @onclick="showAddPersonForm">Add Person</button>
}
else
{
    <h5>Loading...</h5>
}

@if (showEditPerson)
{
    <EditForm Model="@person" OnValidSubmit="UpdatePerson">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="card; modal" tabindex="-1" style="display:block" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Person</h4>
                        <!-- Button to close the popup -->
                        <button type="button" class="close"
                                @onclick='(() => ClosePopup("Edit"))'>
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="card-header text-center">
                        <hr />
                        <h3>@fullName</h3>
                        <hr />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>
                                First Name:
                            </label>
                            <InputText id="FirstName"
                                       @bind-Value="person.FirstName"
                                       class="form-control"
                                       maxlength="50"
                                       placeholder="First Name" />
                        </div>
                        <div class="form-group col-md-4">
                            <label>
                                Middle Name:
                            </label>
                            <InputText id="MiddleName"
                                       @bind-Value="person.MIddleName"
                                       class="form-control"
                                       maxlength="50"
                                       placeholder="Middle Name" />
                        </div>
                        <div class="form-group col-md-4">
                            <label>
                                Last Name:
                            </label>
                            <InputText id="LastName"
                                       @bind-Value="person.LastName"
                                       class="form-control"
                                       maxlength="50"
                                       placeholder="Last Name" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>
                                Gender:
                            </label>
                            <InputSelect id="cboGender"
                                         class="form-control"
                                         @bind-Value="person.Gender">
                                <option></option>
                                <option>Male</option>
                                <option>Female</option>
                            </InputSelect>
                        </div>
                        <div class="form-group col-md-4">
                            <label>
                                Age:
                            </label>
                            <InputNumber id="intAge2"
                                         class="form-control"
                                         @bind-Value="person.Age"
                                         @onblur='(() => updateDOB("edit"))' />
                        </div>
                        <div class="form-group col-md-4">
                            <label>
                                Date of Birth:
                            </label>
                            <InputDate id="DateOfBirth"
                                       class="form-control"
                                       @bind-Value="person.DateOfBirth" />

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>
                                City:
                            </label>
                            <InputText id="txtCity"
                                       class="form-control"
                                       maxlength="50"
                                       placeholder="City"
                                       @bind-Value="person.City" />
                        </div>
                        <div class="form-group col-md-4">
                            <label>
                                State:
                            </label>
                            <InputSelect id="cboState"
                                         class="form-control"
                                         @bind-Value="person.state">
                                <option></option>
                                @foreach (var state in person.birthState)
                                    {
                                    <option value="">@state.State</option>
                                    }
                            </InputSelect>
                        </div>
                        <div class="form-group col-md-4">
                            <label>
                                Country:
                            </label>
                            <InputText id="txtCountry"
                                       class="form-control"
                                       maxlength="50"
                                       placeholder="Country"
                                       @bind-Value="person.Country" />
                        </div>
                    </div>
                    @if (person.Pets.Count > 0)
                    {
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>
                                    Show pets
                                </label>
                                <input type="Checkbox" id="showPets" @onchange="ShowPets" />
                            </div>
                        </div>
                        @if (showPets)
                        {
                            @foreach (var pet in person.Pets)
                            {
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label>
                                            Pet Name:
                                        </label>
                                        <InputText id="txtPetName"
                                                   class="form-control"
                                                   maxlength="50"
                                                   placeholder="Pet Name"
                                                   @bind-Value="pet.Name" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>
                                            Pet Nick Name:
                                        </label>
                                        <InputText id="txtPetNickName"
                                                   class="form-control"
                                                   maxlength="50"
                                                   placeholder="Pet Nick Name"
                                                   @bind-Value="pet.NickName" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>
                                            Pet Type:
                                        </label>
                                        <InputText id="txtPetType"
                                                   class="form-control"
                                                   maxlength="50"
                                                   placeholder="Pet Type"
                                                   @bind-Value="pet.petType" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <button type="button" class="btn-primary" @onclick="(() => DeletePet(pet))">Delete</button>
                                    </div>
                                </div>
                            }
                        }
                    }
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>
                                Add pets
                            </label>
                            <input type="Checkbox" id="addPets" @onchange="ShowAddPetsForm" />
                        </div>
                    </div>
                    @if (showAddPets)
                    {
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>
                                    Pet Name:
                                </label>
                                <input type="Text" id="txtAddName"
                                       class="form-control"
                                       maxlength="50"
                                       placeholder="Pet Name"
                                       @bind="petDTO.Name" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>
                                    Pet Nick Name:
                                </label>
                                <input type="text" id="txtAddNickName"
                                       class="form-control"
                                       maxlength="50"
                                       placeholder="Pet Nick Name"
                                       @bind="petDTO.NickName" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>
                                    Pet Type:
                                </label>
                                <select id="cboPetType"
                                        class="form-control"
                                        @bind="petDTO.petType">
                                    <option></option>
                                    @foreach (var addPetType in petDTO.petTypes)
                                    {
                                        <option value="">@addPetType.Type</option>
                                    }
                                </select>
                            </div>
                        </div>
                    }
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <button type="submit" class="btn btn-group-sm btn-primary">Submit</button>
                            <button type="button" class="btn btn-group-sm btn-primary" @onclick='(() => ClosePopup("Edit"))'>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}

@if (showAddPerson)
{
    <EditForm Model="@personDTO" OnValidSubmit="AddPerson">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="card; modal" tabindex="-1" style="display:block" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Person</h4>
                        <!-- Button to close the popup -->
                        <button type="button" class="close"
                                @onclick='(() => ClosePopup("Add"))'>
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>
                                First Name:
                            </label>
                            <input type="text" id="FirstName"
                                       @bind="personDTO.FirstName"
                                       class="form-control"
                                       maxlength="50"
                                       placeholder="First Name" />
                        </div>
                        <div class="form-group col-md-4">
                            <label>
                                Middle Name:
                            </label>
                            <input type="text" id="MiddleName"
                                   @bind="personDTO.MIddleName"
                                   class="form-control"
                                   maxlength="50"
                                   placeholder="Middle Name" />
                        </div>
                        <div class="form-group col-md-4">
                            <label>
                                Last Name:
                            </label>
                            <input type="text" id="LastName"
                                   @bind="personDTO.LastName"
                                   class="form-control"
                                   maxlength="50"
                                   placeholder="Last Name" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>
                                Gender:
                            </label>
                            <select id="cboGender"
                                    class="form-control"
                                    @bind="personDTO.Gender">
                                <option></option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label>
                                Age:
                            </label>
                            <input type="number" id="intAge2"
                                   class="form-control"
                                   @bind="personDTO.Age" 
                                   @onblur='(() => updateDOB("add"))' />
                        </div>
                        <div class="form-group col-md-4">
                            <label>
                                Date of Birth:
                            </label>
                            <input type="date" id="DateOfBirth"
                                   class="form-control"
                                   @bind="personDTO.DateOfBirth" />

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>
                                City:
                            </label>
                            <input type="text" id="txtCity"
                                   class="form-control"
                                   maxlength="50"
                                   placeholder="City"
                                   @bind="personDTO.City" />
                        </div>
                        <div class="form-group col-md-4">
                            <label>
                                State:
                            </label>
                            <select id="cboState"
                                    class="form-control"
                                    @bind="personDTO.state">
                                <option></option>
                                @foreach (var state in birthStateList)
                                {
                                    <option value="">@state.State</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label>
                                Country:
                            </label>
                            <input type="text" id="txtCountry"
                                   class="form-control"
                                   maxlength="50"
                                   placeholder="Country"
                                   @bind="personDTO.Country" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>
                                Pet Name:
                            </label>
                            <input type="Text" id="txtName"
                                   class="form-control"
                                   maxlength="50"
                                   placeholder="Pet Name"
                                   @bind='petDTO.Name' />
                        </div>
                        <div class="form-group col-md-4">
                            <label>
                                Pet Nick Name:
                            </label>
                            <input type="text" id="txtNickName"
                                   class="form-control"
                                   maxlength="50"
                                   placeholder="Pet Nick Name"
                                   @bind='petDTO.NickName' />
                        </div>
                        <div class="form-group col-md-4">
                            <label>
                                Pet Type:
                            </label>
                            <select id="cboPetType"
                                    class="form-control"
                                    @bind='petDTO.petType'>
                                <option></option>
                                @foreach (var addPetType in petDTO.petTypes)
                                {
                                    <option value="">@addPetType.Type</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <button type="submit" class="btn btn-group-sm btn-primary">Submit</button>
                            <button type="button" class="btn btn-group-sm btn-primary" @onclick='(() => ClosePopup("Add"))'>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}

@if (showDeletePerson)
{
    <EditForm Model="@person" OnValidSubmit="DeletePerson">
        <div class="card; modal" tabindex="-1" style="display:block" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Delete @fullName
                    </div>
                    <div class="modal-body">
                        <button type="submit" class="btn btn-primary">Yes</button>
                        <button type="button" class="btn btn-primary" @onclick='(() => ClosePopup("Delete"))'>No</button>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}

@code
{
}
